<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.yaroslav.positivetestapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_main"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_main"
        android:supportsRtl="true"
        android:theme="@style/NabTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>